@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;1,300&display=swap');

/*Variables*/
:root{
    --primary-color:#3c3b86e5;
    --secundary-color:#3c3b79;
    --white:#fff;
    --primary-red:#C73132;
    --gris:#918b8bfb;
    --background: #96939331;
    --transparent: transparent;
    --color-icon: #b5b6b7;
    --color-titles: #222222;
    --color-text: #555;
}

.contacto{
    width: 100%;
    min-height: 100%;
    padding: 30px;
    position: relative;
}
.contacto-container{
    display: flex;
    flex-direction: row;
}
.contacto-info{
    width: 33%;
    padding: 0 15px;
    
}
.contacto-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.192);
    border: 0.2rem solid rgba(212, 212, 212, 0.493);
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.contacto-img{
    width: 55px;
}
.contacto-title{
    color: var(--color-titles);
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;

}
.contacto-form{
    width: 67%;
    padding: 0 15px;
  
}
.form-header{
    display: inline-block;
    position: relative;
    margin: 15px 0;
}
.form-title{
    font-size: 26px;
    font-weight: 500;
}
.form-sub{
    color: var(--primary-color);
}


.form-container{
    display: flex;
    flex-direction: row;
}
.form-mapa{
    width: 100%;
}
.form-map{
    width: 100%;
}
.form-left{
    width: 45%;
    margin-right: 1.5rem;
}
.form-group{
    position: relative;
    margin-bottom: 2.5rem;
}
.form-group-area{
    height: 100%;
}
.form-input{
    position: relative;
    width: 100%;
    display: block;
    border: 0.2rem solid rgba(212, 212, 212, 0.582);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    outline: none;
    box-shadow: 0 1rem 1rem -5px rgba(0, 0, 0, 0.10);
    line-height: 2.1rem;
    background-color: transparent;
}
.form-input:focus{
    border: 0.2rem solid var(--primary-color);
}

.form-label{
position: absolute;
top: 1rem;
left:1.5rem ;
color: var(--gris);
transition: all 300ms ease-in-out;
pointer-events: none;

}

.form-input:focus~label, .form-input:not(:placeholder-shown)~label{
    top: -2rem;
    left:0;
    z-index: 1;
    font-size: 1.3rem;
    color: var(--primary-color);
   
}

.form-input::-webkit-input-placeholder{
    color: transparent;
}
.form-input::-moz-input-placeholder{
    color: transparent;
}
.form-right{
    width: 55%;
    max-width: 50%;
}

.form-input--tex_area{
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    resize: none;
}

.form-btn{
    display: block;
    margin-top: 15px;
    width: 200px;
    padding: 10px 12px;
    border: none;
    font-size: 18px;
    color: var(--color-titles);
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.329);
}