*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
img, video, iframe, picture, figure{
    max-width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
}
form, input, select, textarea, button, label{
    display: block;
    font-family: inherit;
    font-size: inherit;

}