

@media (max-width:1490px) {

    /*Estructura general*/
    .layout {
        min-width: auto;
        width: 85%;
    }

}

@media (max-width:1320px) {

    /*Estructura general*/
    .layout {
        width: 90%;
        margin-left: 3rem;
    }

}



@media (max-width:1220px) {

    /*Estructura general*/
    .layout {
        width: 89%;
        margin-left: 3rem;
    }

    /**/

    .about__container-informacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
        width: 100%;

    }

    .about-text {
        width: 100%;
    }

    .about-info {
        width: 100%;
        margin-top: 20px;
    }

    .about-text-parrafo {
        font-size: 6rem;
        color: var(--color-text);
        font-weight: 400;
    }


    /*Portafolio responsive*/
    .portafolio-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .card {
        width: 35%;
        height: 300px;

    }

    .card-images {
        width: 100%;
        height: 100%;
    }

    .card-image {
        width: 100%;
        height: 100%;
    }

}

@media (max-width:1060px) {
    body {
        background-color: transparent;
        position: static;
    }

    .header-title {
        font-size: 4.2rem;
    }

    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;


        display: grid;
        grid-template-areas: "content";
        grid-template-columns: 100%;
    }

    /*Container*/
    .layout-container {
        border-radius: 0;
        background-color: transparent;
    }

    .container-page {
        border-radius: 0;
        height: 100vh;

    }

    .aside__menu {
        position:sticky;
    }


    /*Portafolio responsive*/
    .portafolio-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .card {
        width: 35%;
        height: 380px;

    }

    .card-images {
        display: block;
        width: 100%;
        height: 100%;
    }

    .card-image {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;

    }

    .card-contenido {
        bottom: -400px;

    }

    .card-contenido p {
        font-size: 16px;
        color: var(--white);
        text-align: center;
        margin: 15px auto;
        font-weight: 300;
    }

    .card:hover .card-contenido {
        bottom: 0;
    }

    .card-title {
        font-size: 26px;
        color: var(--white);
        font-weight: 700;
        text-align: center;
    }

    .card-contenido p{
        font-size: 22px;
        color: var(--white);
        text-align: center;
        margin: 25px auto;
        font-weight: 300;
    }
    .card-icons {
        display: flex;
        margin: 20px auto;
        width: 100%;
    }

    .card-icon {
        font-size: 40px;
        color: var(--white);
        text-align: center;
        width: 100%;
        display: block;
        margin: auto;
        animation: icon 2s ease-in-out infinite;
        transform: scale(1);

    }
}

@media (max-width:1000px) {
    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;

    }
    .layout__aside{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: auto;
        background-color: #3c3b86e5;
        z-index: 10;
        transition: all 400ms ease-out;
        clip-path: circle(0% at 99% 0);
    }
    .active{
        clip-path: circle(70.7% at 50% 50%);
    }
    .user-info__imagen{
        margin-top: 100px;
        width: 20rem;
     
    }

.container__menu-icon{
    display: block;
    z-index: 12;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.726);
    
}

/*barra del menu*/
.menu__list{
    position: sticky;
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    box-shadow: none;
    margin: 20px 0;
}
.menu__option{
    display: block;
    width: 100%;
}
.menu__option:hover  .menu__icon{
    color: var(--white);
   
}
.menu__icon{
    color: var(--color-icon);
    font-size: 3rem;
    display: none;
}
.active .menu__icon{
    color: var(--primary-color);
    font-size: 3.2rem;
}

.menu__title{
    position: relative;
    right: 0;
    margin-top:25px;
    padding: 0 ;
    display: block;
    opacity: 1;
    background-color: transparent;
    white-space: nowrap;
    color: var(--white);
    font-size: 18px;
    transition: all 300ms ease-out;


}
.menu__title::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    bottom: -3px;
    display: block;
    margin: auto;
    transition: all 300ms ease-out;
}
.menu__option:hover  .menu__title::after{
    width: 100%;

}

.menu__option:hover  .menu__title{
    right: inherit;
    font-weight: 700;
}

/*CV*/
.curriculum-container{
    flex-direction: column;
}
.curriculum-experiencia{
    display: block;
    margin: 50px 0;
}

/*Portafolio*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 44%;
    max-width: 380px;
    height: 320px;
     margin:10px;
    box-shadow: 0 0 6px  rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}
.card-contenido p{
    font-size: 18px;
    color: var(--white);
    text-align: center;
    margin: 20px auto;
    font-weight: 300;
}

.card-title{
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    text-align: center;
}
.card-icons {
    display: flex;
    width: 100%;
}

.card-icon{
    font-size: 30px; 
}

.card-btn{
    margin:20px  auto 0 auto;
    width: 140px;

}


}

@media (max-width:500px) {
    .layout__aside{  
        width: 80%;
    }

    /*Portafolio*/
    .card{
        width: 65%;
        max-width: 380px;

    }
}